.footer
{
    background-color: rgb(27, 27, 27);
    padding-bottom: 400px;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(27, 27, 27);
    
}

body
{
    background-color: rgb(139, 193, 255);
}



.container-fluid
{
    background-color: rgb(27, 27, 27);
    padding: 20px;

}

.columnas
{
  margin-left: 250px;
  margin-right: 250px;
  column-count: 2;
  text-align: justify;
}


h4
{
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    padding: 25px;
    color: bisque;
}